version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: simufrag_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      # This is just the default maintenance DB
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./init-scripts:/docker-entrypoint-initdb.d